.person-card-short
	center()

	&__avatar
		column(2/4 4/12, 1/4)
		margin-bottom spacers(.5)

	&__fullname
		column(2/4 4/12, 1/4)
		margin-bottom spacers(1.4)
		font-weight bold
		text-align center




