.person-card-short
	center()

	&__avatar
		column(2/4 4/12, 1/4)
		margin-bottom spacers(.5)

	&__avatar-1
		sprite($person1)
	&__avatar-2
		sprite($person2)
	&__avatar-3
		sprite($person3)

	&__fullname
		column(2/4 4/12, 1/4)
		margin-bottom spacers(1.4)
		font-weight bold
		text-align center




