include ../person-card/person-card
include ../personal-card-short/personal-card-short
mixin people(data, isFull)
	+b.people
		+e.person1
			if isFull
				+person-card('person-card__avatar-1', data.t5, data.t51)
			else
				+person-card-short('person-card-short__avatar-1', data.t5)
		+e.person2
			if isFull
				+person-card('person-card__avatar-2', data.t6, data.t61)
			else
				+person-card-short('person-card-short__avatar-2', data.t6)
		+e.person3
			if isFull
				+person-card('person-card__avatar-3', data.t7, data.t71)
			else
				+person-card-short('person-card-short__avatar-3', data.t7)
