.people
	center(954px, $pad=18px)
	padding-top spacers(5)
	padding-bottom spacers(3.2)

	&__person1
		column(4/12)
		move(1/12)

	&__person2
		column(4/12)


	&__person3
		column(4/12)
		move(-1/12)

