.person-card
	center()

	&__avatar
		column(2/4 4/12, 1/4)
		margin-bottom spacers(1)

	&__fullname
		column(2/4 4/12, 1/4)
		font-weight bold
		text-align center

		margin-bottom spacers(1.6)

	&__about
		column(1)
		line-height spacers(1.5)
		text-align center
