$jeet = {
	gutter: 1.954397,
	max-width: 993px,
	layout-direction: LTR,
	parent-first: false
}

$spacer = 1rem;
$spacers = {
	'.25': $spacer * .25,
	'.5': $spacer * .5,
	'1': $spacer * 1,
	'1.5':$spacer * 1.5,
	'2':$spacer * 2,
	'2.5':$spacer * 2.5,
}
