body
	font-size 1em
	line-height 1.5em

.page
	center(993px)
	position relative
	padding-y(18px)
	background-color white
	background url('atom/atom-promo.png') no-repeat

	&__frame
		border  2px solid black
		box-sizing border-box
		center(954px)
		background-color #72c4f6


