// debug()

.header
	center(954px, $pad=18px)
	border-bottom 2px solid black


.header__logo
	column(2/12, 5/12)
	margin-top -2px
	margin-bottom 270px


.logo--yandex
	sprite($logo)



.header__title
	position absolute
	z-index 2
	column(10/12)
	move(1/12)
	margin-bottom spacers(5)
	line-height spacers(2.5)
	text-align center




.title-dash
	font-size 4rem

.title--main
	font-size 2.75rem
