.footer
	center(954px, $pad=18px)
	padding-top spacers(5)
	padding-bottom spacers(1.7)
	border-top 2px solid black

	&__left-side
		column(6/12, 1/12)

	&__logo
		column(2/12)
		move(1.2/12)
		padding-top spacers(.2)

.footer-text-1
	margin-bottom spacers(1.6)

.footer-text-2
	margin-bottom spacers(1.4)


.socials
	column(3/6)
	stack()
	margin-bottom spacers(5.3)
	&__fb
		column(1/6)
		sprite($facebook)
	&__vk
		column(1/6)
		sprite($vkontakte)

	&__tw
		column(1/6)
		sprite($twitter)
	&__yt
		column(1/6)
		sprite($youtube)

	&__hb
		column(1/6)
		sprite($habra)

	&__ig
		column(1/6)
		sprite($instagram)

.help
	column(1/6)

.feedback
	column(2/6)

.copyright
	column(3/6)
	text-align right
