.history
	position relative
	center(954px, $pad=18px)
	// sprite($path)
	padding-top spacers(1.5)

	&__path
		column(10/12, 1/12)
		sprite($path)

	&__notebook
		sprite($notebook)
		position absolute
		z-index 2
		top spacers(6.3)
		left spacers(30.3)


	&__phone
		sprite($phone)
		position absolute
		top spacers(22)
		left spacers(-1.2)


	&__pen
		sprite($pen)
		position absolute
		top spacers(22)
		left spacers(20.5)


	&__ticket
		sprite($ticket)
		position absolute
		top spacers(28.6)
		left spacers(25.4)


	&__watch
		sprite($watch)
		position absolute
		top spacers(38.6)
		left spacers(30.3)


	&__photo
		sprite($photo)
		position absolute
		top spacers(35.7)
		right spacers(-1.2)


	&__iphone
		sprite($iphone)
		position absolute
		top spacers(77.3)
		left spacers(2.7)


	&__ipad
		sprite($ipad)
		position absolute
		top spacers(57.1)
		left spacers(12.7)



	&__cup
		sprite($cup)
		position absolute
		top spacers(80.1)
		left spacers(20.5)


	&__mask
		sprite($mask)
		position absolute
		top spacers(71.8)
		left spacers(35.1)


	&__palka
		sprite($palka)
		position absolute
		top spacers(57)
		left spacers(44.9)


	&__bag
		sprite($bag)
		position absolute
		top spacers(102.4)
		left spacers(27.5)


	&__newspaper
		sprite($newspaper)
		position absolute
		top spacers(123.3)
		left spacers(5.7)


	&__magazine
		sprite($magazine)
		position absolute
		top spacers(130.3)
		left spacers(42.5)


.point-1
	column(4/10 10/12)
	move(-.01)
	margin-top spacers(5)
	margin-bottom spacers(37.6)

.point-2
	column(4/10 10/12, 6/10)
	margin-bottom spacers(37.2)


.point-3
	column(4/10 10/12)
	move(-.02)

.event
	margin-bottom spacers(1.8)
	text-align center


.notebook
	column(4/10, 1/10)
	sprite($notebook)
	margin-top spacers(4.7)

.phone
	column(4/10)
	sprite($phone)
