.promo

	center(954px, $pad=18px)
	padding-y(spacers(4.6))
	border-bottom 2px solid black

	&__text

		column(6/12, 1/12)

	&__video
		column(3/12, 1/12)
		padding-top spacers(.25)


.promo-text
	position relative
	z-index 2
	line-height spacers(1.5)
	&_p1
		margin-bottom spacers(1.7)




.promo-button
	column(2/3)
	sprite($promo_play)
	margin-bottom spacers(1)

.promo-prompt
	stack()


